.app-content{
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background-color: #f9c22b;
}
.table-container{
    width: 20vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 32% 32% 32%;
}

.square{
    border: solid 3px black;

    display: flex;
    justify-content: center;
    align-content: center;

    transition: 0.3s;
}
.square:hover{
    cursor: pointer;
    background-color: #f79617;

    transition: 0.3s;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.content-container.highlight{
    transition: 0.6s;
    background-color: #fb6b1d;
}

.content-container.no-hover:hover, .content-container.highlight.no-hover:hover, .content-container.no-hover{
    cursor: auto;
}
.content-container.no-hover:hover{
    background-color: #f9c22b;
}


/*Square borders*/

#s1, #s4, #s7{
    border-left: transparent;
}

#s1, #s2, #s3{
    border-top: transparent;
}

#s3, #s6, #s9{
    border-right: transparent;
}

#s7, #s8, #s9{
    border-bottom: transparent;
}


.circle, .x{
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 0;
}
.empty{
    fill-opacity: 0;
}


